*{
	margin: 0;
	padding: 0;

}

body{
	font-family: arial;
	overflow: hidden;
}

.wrapper{
	width: 100%;
	margin: auto;

}

.kiri{
	width: 30%;
	height: 100vh;
	background-image: url(../img/buku.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
}

.kanan{
	height: 100vh;
	width: 70%;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
}

.form{
	width: 80%;
	height: 80vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.kiri1{
	height: 100%;
	width: 30%;
	float: left;
	background-image: url(../img/buku2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.kanan1{
	width: 70%;
	height: 100%;
	float: right;
	text-align: center;
	background-color: #54403e; 	
}

.title{
	margin-top: 28%;
	color: #ffffffff;
}

.isi{
	color: white;
}

.isi ul li{
	list-style-type: none;
}

input{
	padding: 15px 15px;
	width: 80%; 
	transition: 0.7s background-color ease;
	border: 1px solid white;
	margin-top: 30px;

}

.subtit{
	color: white;
	margin-top: 15px;
}

.isi button{
	margin-top: 30px;
	width: 20%;
	padding: 10px 20px;
	color: #fff;
	background-color: transparent;
	border: #fff solid 1px;
	transition: 0.7s background-color;
}

.isi button:hover{
	background-color: #fff;
	border: #54403e solid 1px;
	color: #54403e; 
}