*{
	margin: 0;
	padding: 0;

}

body{
	font-family: arial;
	overflow: hidden;
}

.wrapper{
	width: 100%;
	margin: auto;

}

.kiri{
	width: 20%;
	background-color: red;
	height: 100vh;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
}

.kanan{
	height: 100vh;
	width: 80%;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
}

.form{
	width: 80%;
	background-color: blue;
	height: 80vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.kiri1{
	height: 100%;
	float: left;
	background-image: url(../img/lib.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.kanan1{
	width: 70%;
	height: 100%;
	background-color: green;
	float: right;
}

