*{
    margin:0;
    padding:0;
}

.head{
    border:2px solid black;
    padding:10px;
}

.navbar ul li{
    float:right;
    list-style:none;
    margin-right:20px;
    margin-top:-15px;
}

.navbar a{
    text-decoration:none;
    color:black;
}