/*------------------------------------------Halaman index----------------*/
*{
    margin:0;
    padding:0;
}

.head{
    border:2px solid black;
    padding:10px;
    background-color: grey;
}
.head h1 {
    color: white;
}
.head p{
    color: white;
}
.navbar ul li{
    float:right;
    list-style:none;
    margin-right:30px;
    margin-top:-15px;
}

.navbar a{
    text-decoration:none;
    color:white;
}

.navbar {	
    height:10px;
	line-height:20px; 
	position:relative;
    margin:auto;
}
 
.navbar ul {
    list-style:none;
}
 
.navbar ul li:hover ul {
    display:block;
    
}
 
.navbar ul ul {
	display:none; 
    list-style:none; 
    position:absolute;
    background-color: black;
    margin-top:10px;
    margin-left:-80px; 
    height:150px;
	width:220px;
}
 
.navbar ul ul li a {
	float:none; 
	display:block; 
	padding-left:10px; 
    text-align:center; 
    margin-top:30px;
    width:160px;
    color:white;
    transition: 0.50s;
}
.navbar ul li a:hover{
    color:blue;
    display: block;
}
 
.navbar ul ul li a:hover {
	color:blue;
}

.body{
    height:380px;
    border: 2px solid black;
}
.body h1{
    text-align: center;
    margin-top: 150px;
}
.footer{
    height:55px;
    border:2px solid black;
    background-color: grey;
}
.footer h5{
    text-align: center;
    color: white;
}
/*------------------------------------------Halaman data buku----------------*/
.body table{
    width:80%;
    text-align:center;
    background-color: grey;
    color: white;
}
.body h2{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
       
}
/*------------------------------------------Halaman data siswa----------------*/

.body h3{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

/*------------------------------------------Halaman peminjaman buku----------------*/

.body h4{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

/*------------------------------------------Halaman pengembalian buku----------------*/

.body h5{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}