*{
    margin:0;
    padding:0;
}

.head{
    border:2px solid black;
    padding:10px;
}

.navbar ul li{
    float:right;
    list-style:none;
    margin-right:30px;
    margin-top:-15px;
}

.navbar a{
    text-decoration:none;
    color:black;
}

.navbar {	
    height:10px;
	line-height:20px; 
	position:relative;
	margin:auto;
}
 
.navbar ul {
	list-style:none;
}
 
.navbar ul li:hover ul {
	display:block;
}
 
.navbar ul ul {
	display:none; 
    list-style:none; 
    position:absolute;
    background-color: black;
    margin-top:10px;
    left:720px; 
    height:150px;
	width:220px;
}
 
.navbar ul ul li a {
	float:none; 
	display:block; 
	padding-left:10px; 
    text-align:center; 
    margin-top:30px;
    width:160px;
    color:white;
    transition: 0.50s;
}
.navbar ul li a:hover{
    color:blue;
    display: block;
}
 
.navbar ul ul li a:hover {
	color:blue;
}

.body{
    height:380px;
    border: 2px solid black;
}
.body h1{
    text-align: center;
}
.footer{
    height:55px;
    border:2px solid black;
}
.footer h5{
    text-align: center;
}