@font-face {
   font-family: a;
   src: url(../font/Gloss_And_Bloom.ttf);
}
@font-face {
   font-family: b;
   src: url(../hoeflertext.ttf);
}

* {
   font-family: b;
}
body{
  margin:0;
  padding: 0;
}
/* Header Part */

.header{
  background-color: #E8E8E8;
  width: 100%;
  position: fixed;
}
.tbheader{
  text-align: center;
}
.logo{
  font-family: a;
}
.nav{
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  color: white;
  transition: 0.8s;
}
.active{
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid black;
  color:black;
 transition: 0.8s;
}
.active:hover{
  background-color: black;
  color: white;
}
.menunav{
  height: 24px;
  width: 40px;
}

/* Body Part */

.body{
  width: 60%;
  height: auto;
  background-color: #E8E8E8;
  margin: 0 auto;
  box-shadow: 0px 1px lightgrey;
}
.tbbody{
  text-align: center;
}
.title{
  font-size: 20px;
}
.tdoption{
  text-align: right;
}
.option{
  margin-right: 20px;
  background: #E8E8E8;
  width: 150px;
  height: 30px;
  border-radius: none;
}
.ioption{
  text-align: center;
}
.tdsearch{
  text-align: left;
}
.search{
    margin-left: 20px;
    padding: 8px 20px;
    background: transparent;
    border: 1px solid black;
    color: black;
    text-align: center;
}
::placeholder{
  color: black;
}
/* Ini Css buat ngatur data dari database */
    .tbsiswa{
      text-align: left;
      margin-bottom: 25px;
    }
    .siswa{
      width: 300px;
      background-color: white;
      margin: 0 auto;
        }
        .a{
          margin: 0;
          font-size: 20px;
        }

        .b{
          margin: 0;
          font-size: 15px;
        }

        .c{
          margin: 0;
          font-size: 12px;
          margin-bottom: 10px;
        }
        .d{
          font-size: 15px;
          color: black
        }
    .tanggal{
      background: transparent;
      border: none;
      font-size: 15px;
      text-align: right;
    }
/* End part */
