
    *{
        margin:0;
        
    }
    
    i{
        width:50px;
    }

    .text{
        text-align:center;
        font-size:30px;
        margin-top:210px;
        color:white;
    }

    .text1{
        text-align:center;
        margin-bottom:80px;
        font-size:20px;
        color:white;
    }

    @font-face {
        font-family: hoeflertext;
        src: url(../font/hoeflertext.ttf);
    }

    .text{
        font-family:hoeflertext;
    }

    .text1{
        font-family:hoeflertext;
    }

    img{
        width:100%;
        height:650px;
            
    }

    .head{
        background-image: url('../img/gambar1.jpg');
        height:100vh;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
    }

    @font-face{
        font-family: Gloss_And_Bloom;
        src: url(../font/Gloss_And_Bloom.ttf);
    }
    
    .nav p{
        font-family:Gloss_And_Bloom;
        margin-left:50px;
        font-size:20px;
    }
    .nav{
        width:100%;

    }
    .content{
        width:100%;
        height:60px;
    }
    .nav1{
        text-align:center;
    }

    .nav2{
        text-align:center;
    }

    .nav3{
        text-align:center;
    }
    
    .nav a{
        text-decoration:none;
        color:black;
        transition:0.50s;
    }

    .nav a:hover{
        background-color:black;
        color:white;
    }
    
    .nav1 a{
        border:1px solid black;
        padding:2px;
    }

    .nav2 a{
        border:1px solid black;
        padding:2px;
    }

    header{
          margin-top: 0%;
          margin-left: 50px;
          line-height: 60px;
        }

    .header{
          font-family: Gloss_And_Bloom;
          font-size: 25px;
          width: 100%;
          height: 60px;
          background: #E8E8E8;
    }

    .tampil{
          margin-top:-47px;
          margin-right:0px;
          font-family: hoeflertext;
          display: inline-block;
          float: right;
    }
    .tampil a{
          padding:5px;
          text-decoration: none;
          font-size: 15px;
          margin: 10px;      
    }
    .data{
          background:black;
    }
    .fa-bars{
        color: black;
    }
    .data:hover, .data2:hover{
        background-color: lavender;
    }

    #popup{
        width:100px;
        height:100px;
        position:fixed;
        background: rgba(0,0,0,7);
        top:10%;
        right:50px;
        z-index:9999;
        visibility: hidden;
    }

    .window{
        width: 120px;
        height: 200px;
        background: #fff;
        border-radius: 10px;
        position: relative;
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }

    .window ul li{
        margin-top: 15px;
        list-style: none;
        text-align: center;
        float: left;
    }

    .close-button{
        width: 10%;
        height: 15%;
        line-height: 20px;
        color: #000;
        display: block;
        text-align: left;
        font-size: 15px;
        text-decoration: none;
        position: absolute;
    }

    #popup:target{
        visibility: visible;
    }

    .content{
        width:100%;
        height:100vh;
        background-color:#E8E8E8;
    }
    