@font-face{
	font-family: bloss;
	src : url(../font/Gloss_And_Bloom.ttf);
}
@font-face{
	font-family: hoef;
	src : url(../font/hoeflertext.ttf);
}
*{
	margin:0;
	padding: 0;

}

::selection{
	background: #000;
}

html
{
	box-sizing: border-box;
}

*,*:before,*:after
{
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0;
}

.grid
{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.grid:after, .grid:before,
.row:after, .row:before
{
	content: "";
	display: table;
}

.grid:after, .row:after {clear: both;}

[class*="col-"]
{
	width: 100%;
	min-height: 1px;
    float: left;
}

@media screen and (min-width:320px)
{
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

@media screen and (min-width:640px)
{
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}

@media screen and (min-width:960px)
{
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}

}

@media only screen and (max-width:960px){
    
}

@media only screen and (min-width: 640px){
	.form h1{
		padding-top: 10px;
	}

	.form p{
		margin-top: 10px;
	}


}

.wrapper{
	width: 100%;
	height: 100vh;
	font-family: hoef;
}

.back{
	background-image: url(../img/gambar1.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.form{
	height: 100vh;
	text-align: center;
	color: #fff;
}

.form h1{
	padding-top: 23%;
	font-family: bloss;
	font-size: 70px;
}

.btnab{
	margin: 10px 10px;
	padding: 10px 20px;
	background-color: transparent;
	color: white;
	border-radius: 5px;
	border: 1px solid #fff;
	transition: 0.7s ease;
}

.btnab:hover{
	background-color: black;
	transform: scale(1.1);
}
.form p{
	margin-top: 30%;
	color:#b3b3b3;
}

input{
	padding: 15px 15px;
	width: 80%; 
	transition: 0.7s background-color ease;
	border: 1px solid white;
	margin-bottom: 5px;

}
